@model IEnumerable<FishStore.Models.Fish>

@{
    ViewData["Title"] = "Fish Type";
}

<h1>Fish Type</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New <i class="fas fa-plus"></i></a>
</p>
<table class="table table-hover">
    <thead class="table-success">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FishName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FishName)
            </td>
            <td>
                @if (item.ImageUrl != null && item.ImageUrl != "")
                {
                    <img src="~/Uploads/@item.ImageUrl" class="img-thumbnail" style="width:100px;height:100px;" />
                }
                else
                {
                    <img src="~/Uploads/empty.jpg" class="img-thumbnail" style="width: 100px; height: 100px;" />
                }

            </td>
            
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.FishID">Edit <i class="fas fa-edit"></i></a> |
                <a class="btn btn-success" asp-action="Details" asp-route-id="@item.FishID">Details <i class="fas fa-eye"></i></a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.FishID">Delete <i class="fas fa-trash"></i></a>
            </td>
        </tr>
        }
    </tbody>
</table>
